div {
    background-color: aquamarine;
}

#headline {
    background-color: red;
}

#text1 {
    font-size: 75%;
    font-family: arial;
}

#lorem2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80%;
    font-style: oblique;
    background-color: red;
}